version: "3"
services:
  app:
    image: webdevops/php-nginx-dev:7.2
    working_dir: /app
    networks:
      - proxy
    ports:
      - 8088:80
    volumes:
      - .:/app
    environment:
      - PHP_DISPLAY_ERRORS=1
      - PHP_DATE_TIMEZONE=Asia/Ho_Chi_Minh
      - WEB_DOCUMENT_ROOT=/app/public
  nodejs:
    image: node:10
    stdin_open: true
    networks:
      - proxy
    volumes:
      - .:/app
networks:
  proxy:
    external: true
